$fontBlack: arialblack, sans-serif;
$fontRegular: arialregular, sans-serif;
$mainBlue: #5a9ded;
$black: #3a3a3a;

.whiteSection{
  .vision-content{
    margin: 1em 0;
    .mobile-view{
      display: none;
      margin-bottom: 20px;
      @media all and (max-width: 480px) {
        display: block;
      }
    }
    .mobile-hidden{
      display: block;
      @media all and (max-width: 480px) {
        display: none;
      }
    }
    .vision-text{
      color: $black;
      font-family: $fontRegular;
      font-size: 1.5em;
      text-align: justify;
      line-height: 1.5;
      @media all and (max-width: 768px) {
        font-size: 1em;
      }
    }
    img{
      width: 100%;
      border-radius: 10px;
    }
  }
}
