@import "../../../style/main.scss";

.side-menu-wrapper{
  position: sticky;
  top: 90px;
  height: auto;
  border-radius: 10px;
  width: 100%;
  display: block;
  height: 400px;
  overflow: hidden;
  margin-bottom: 25px;
  @media all and (max-width: 480px) {
    top: 70px;
  }
  .metismenu{
    border-radius: 10px;
    background-color: $mainBlue;
    height: 100%;
    &:after{
      box-shadow: none;
    }
    .metismenu-link{
      font-family: $fontBlack;
      display: block;
      cursor: pointer;
      text-decoration: none;
      font-size: 16px;
      color: #fff;
      I.metismenu-icon{
        width: 2em;
      }
    }

    .metismenu-link.active{
      background: #004085;

    }
  }
  .visible{
    padding: 0;
    background-color: #1c538e;
    .visible{
      padding: 0;
      background-color: #667f9a;
    }
  }
}
