@import "../../../style/main.scss";

.projects-wrapper{
  .project-item{
    margin-bottom: 25px;
    .card{
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1px 4px gray;
      cursor: default;
      .image-wrapper{
        height: 200px;
        overflow: hidden;
        width: 100%;
        .card-img-top{
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          height: 100%;
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
      }
      .card-hover{
        background-color: #5a9dedba;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        .h5{
          color: #fff;
          font-family: $fontBlack;
          font-size: 24px;
          display: flex;
          align-self: center;
          width: 80%;
        }
      }

      &:hover{
        box-shadow: 0 2px 9px #809696;
        .image-wrapper{
          .card-img-top{
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
          }
        }
        .card-body{
          .h5{
            color: $mainBlue;
          }
        }
      }
      .card-body{
        text-align: left;
        .h5{
          color: $black;
          font-family: $fontBlack;
          font-size: 20px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        .card-title{
          overflow: hidden;
          max-height: 50px;
          @media all and (max-width: 480px) {
            overflow: auto;
            max-height: 100%;
          }
        }
        .title{
          font-family: $fontRegular;
          font-size: 16px;
          color: $mainBlue;
          margin: 0;
        }
        .text{
          font-family: $fontRegular;
          font-size: 16px;
          color: $black;
          margin: 0;
        }
        .execution-green{
          font-size: 14px;
          color: #fff;
          font-family: $fontRegular;
          text-align: center;
          width: 100%;
          background-color: #3dd56f;
          border-radius: 4px;
        }
        .execution-gray{
          font-size: 14px;
          color: #b1abab;
          font-family: $fontRegular;
          text-align: center;
          width: 100%;
          background-color: #e6e1e1;
          border-radius: 4px;
        }
      }
    }
  }
}
