// Fonts

$fontBlack: arialblack, sans-serif;
$fontRegular: arialregular, sans-serif;



$cpa-gray:#809696;
$cpa-defualt:#282827;
$cpa-light-gray:#F5F5F7;
$cpa-main: #42C194;
$cpa-dark-blue:#215C80;
$cpa-black:#1C2128;
