$fontBlack: arialblack, sans-serif;
$fontRegular: arialregular, sans-serif;
$mainBlue: #5a9ded;

.aboutSection{
  .about-wrapper{
    width: 100%;
    display: block;
    border-radius: 10px;
    background-color: rgba(29,27,27,0.74);
    text-align: center;
    height: 100%;
    padding: 1.5em;
    margin: 0;
    .about-description{
      color: #fff;
      font-family: $fontBlack;
      font-size: 1.5em;
      text-align: center;
      margin: 1em auto;
      width: 80%;
      line-height: 1.5;
      @media all and (min-width: 480px) and (max-width: 768px) {
        font-size: 1em;
        margin: 0.7em auto;
       }
       @media all and (max-width: 480px) {
         font-size: 1em;
         margin: 0.5em auto;
       }
    }

  }
}
